    
@inherits CamposListBase
@inject NotificationService NS
@using DashBoard.Modelos

@if (LosCampos != null && !Leyendo)
{
    <RadzenDataGrid @ref="CamposGrid"
                    AllowFiltering="true" AllowPaging="true" PageSize="50"
                    AllowSorting="true" AllowColumnResize="true"
                    ExpandMode="DataGridExpandMode.Single" AllowGrouping="false"
                    EditMode="DataGridEditMode.Single" AllowColumnPicking="false"
                    Data="@LosCampos" TItem="Z209_Campos"
                    RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" EmptyText="No hay registros">

        <HeaderTemplate>
            @if (ElUser.Nivel > 4 && EmpresaActiva.OrgId.Length > 30 && ElFolio.Estado < 2)
                {
                <RadzenButton Icon="plus" style="margin-bottom: 10px"
                              ButtonStyle="ButtonStyle.Info" Click="InsertRow">
                    Capturar Formato
                </RadzenButton>
                }
                else if (EmpresaActiva.OrgId.Length < 30)
                {
                <RadzenLabel>Es necesario que seleciones una empresa activa en Informacion>Empresa Activa</RadzenLabel>
                }
            <RadzenButton Icon="refresh" style="margin-bottom: 10px"
                          ButtonStyle="ButtonStyle.Success" Click="LeerLosCampos">
                Actualizar
            </RadzenButton>
        </HeaderTemplate>

        <Columns>


            <RadzenDataGridColumn TItem="Z209_Campos" Title="Id" Filterable="false"
                                  Width="800px">
                <Template Context="datos">
                    <div class="container-fluid">
                        <div class="row" style="background:Turquoise">
                            <div class="col-md-4 align-items-center d-flex" >
                                @if (Mostrar.Any(x => x.Titulo == "Pedimento" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Pedimento</h6>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex" >
                                @if (Mostrar.Any(x => x.Titulo == "Factura" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Factura</h6>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex" >
                                @if (Mostrar.Any(x => x.Titulo == "Mercancia" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Mercancia</h6>
                                }

                            </div>

                        </div>

                        <div class="row" style="background: White;">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Pedimento" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Pedimento</RadzenLabel>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Factura" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Factura</RadzenLabel>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Mercancia" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Mercancia</RadzenLabel>
                                }

                            </div>

                        </div>

                        <div class="row" style="background:Turquoise">
                            <div class="col-md-4 align-items-center d-flex" >

                                @if (Mostrar.Any(x => x.Titulo == "AgenteAduanal" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Agente Aduanal</h6>
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex" >
                                @if (Mostrar.Any(x => x.Titulo == "Placas" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Placas de tractor</h6>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex" >
                                @if (Mostrar.Any(x => x.Titulo == "Despachador" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Despachador</h6>
                                }

                            </div>

                        </div>

                        <div class="row" style="background: white;" >
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "AgenteAduanal" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {

                                }
                                <RadzenLabel>@datos.AgenteAduanal</RadzenLabel>
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Placas" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Placas</RadzenLabel>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Despachador" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Despachador</RadzenLabel>
                                }

                            </div>

                        </div>

                        <div class="row" style="background: Turquoise">
                            <div class="col-md-4 align-items-center d-flex" >
                                @if (Mostrar.Any(x => x.Titulo == "Tractor" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Tractor Num</h6>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex" >
                                @if (Mostrar.Any(x => x.Titulo == "Caja1" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Num Caja 1</h6>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex" >
                                @if (Mostrar.Any(x => x.Titulo == "Caja2" && x.SiNo == false))
                                {
                                    <label></label>

                                }
                                else
                                {
                                    <h6>Num Caja 2</h6>
                                }

                            </div>

                        </div>

                        <div class="row" style="background: white;">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Tractor" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Tractor</RadzenLabel>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Caja1" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Caja1</RadzenLabel>

                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Caja2" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Caja2</RadzenLabel>

                                }

                            </div>

                        </div>

                        <div class="row" style="background: Turquoise">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "CartaPorte" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Carta Porte</h6>

                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Transportista" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Transportista</h6>

                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "TractorTipo" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Tipo Tractor</h6>
                                }

                            </div>

                        </div>

                        <div class="row" style="background: white;">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "CartaPorte" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.CartaPorte</RadzenLabel>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Transportista" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Transportista</RadzenLabel>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "TractorTipo" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.TractorTipo</RadzenLabel>

                                }

                            </div>

                        </div>

                        <div class="row" style="background:Turquoise">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "SelloRemovido" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Sello Removido</h6>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "SelloColocado" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Sello Colocado</h6>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Obs" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Libre</h6>
                                }

                            </div>
                        </div>

                        <div class="row" style="background: white;">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "SelloRemovido" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.SelloRemovido</RadzenLabel>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "SelloColocado" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.SelloColocado</RadzenLabel>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Obs" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>Libre</RadzenLabel>

                                }

                            </div>
                        </div>

                        <div class="row" style="background:Turquoise">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Chofer" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Nombre del Chofer</h6>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Identificacion" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Identificacion</h6>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Cuadrilla" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Cuadrilla</h6>
                                }

                            </div>

                        </div>

                        <div class="row" style="background: white;">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Chofer" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Chofer</RadzenLabel>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Identificacion" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Identificacion</RadzenLabel>
                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Cuadrilla" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Cuadrilla</RadzenLabel>
                                }

                            </div>

                        </div>

                        <div class="row" style="background:Turquoise">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Maniobra" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Tipo de Maniobra</h6>

                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Obs" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Comentarios</h6>

                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Pedimento" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {

                                }
                                <h6>Libre</h6>
                            </div>

                        </div>

                        <div class="row" style="background: white;">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Maniobra" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Maniobra</RadzenLabel>

                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Obs" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>@datos.Obs</RadzenLabel>

                                }

                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel>Libre</RadzenLabel>
                            </div>
                        </div>
                    </div>
</Template>

                <EditTemplate Context="datos">

                    <div class="container-fluid" style="background: Turquoise;">
                        <div class="row" style="background: Turquoise ">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Pedimento" && x.SiNo== false))
                                    {
                                    <label></label>
                                    }
                                    else
                                    {
                                    <h6>Pedimento</h6>
                                    }
                                </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Factura " && x.SiNo== false))
                                    {
                                    <label></label>
                                    }
                                    else
                                    {
                                    <h6>Factura</h6>
                                    }
                                </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Mercancia " && x.SiNo== false))
                                    {
                                    <label></label>
                                    }
                                    else
                                    {
                                    <h6>Mercancia</h6>}
                                </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Pedimento" && x.SiNo== false))
                                    {
                                    <label></label>
                                    }
                                    else
                                    {
                                    <RadzenTextBox Name="Pedimento" @bind-Value="datos.Pedimento" MaxLength="75"
                                                   Style="width: 95%" Placeholder="Pedimento" />}
                                </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Factura" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="Factura" @bind-Value="datos.Factura" MaxLength="75"
                                                   Style="width: 95%" Placeholder="Num Factura" />}
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Mercancia" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="Mercancia" @bind-Value="datos.Mercancia" MaxLength="50"
                                                   Style="width: 95%" Placeholder="Mercancias" />}
                            </div>

                        </div>

                        <div class="row" style="background:Turquoise">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "AgenteAduanal" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Agente Aduanal</h6>}
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Placas" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Placas de tractor</h6>
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Despachador" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Despachador</h6>}
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "AgenteAduanal" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="AgenteAduanal" @bind-Value="datos.AgenteAduanal" MaxLength="75"
                                                   Style="width: 95%" Placeholder="Agente Aduanal " />}
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Placas" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="Placas" @bind-Value="datos.Placas" MaxLength="20"
                                                   Style="width: 95%" Placeholder="Placas del Tractor" />}
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Despachador" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="Despachador" @bind-Value="datos.Despachador" MaxLength="75"
                                                   Style="width: 95%" Placeholder="Despachador" />}
                            </div>

                        </div>

                        <div class="row" style="background:Turquoise">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Tractor" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Tractor Num</h6>
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Caja1" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Num Caja 1</h6>
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Caja2" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Num Caja 2</h6>
                                }
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Tractor" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="Tractor" @bind-Value="datos.Tractor" MaxLength="20"
                                                   Style="width: 95%" Placeholder="Tractor Numero" />}
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Caja1" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="Caja1" @bind-Value="datos.Caja1" MaxLength="20"
                                                   Style="width: 95%" Placeholder="Num Caja 1" />}
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Caja2" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="Caja2" @bind-Value="datos.Caja2" MaxLength="20"
                                                   Style="width: 95%" Placeholder="Num Caja 2" />}
                            </div>

                        </div>

                        <div class="row" style="background:Turquoise">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "CartaPorte" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Carta Porte</h6>
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Transportista" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Transportista</h6>
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Tractor" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Tipo Tractor</h6>
                                }
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "CartaPorte" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="CartaPorte" @bind-Value="datos.CartaPorte" MaxLength="75"
                                                   Style="width: 95%" Placeholder="Carta Porte" />}
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Transportista" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="Transportista" @bind-Value="datos.Transportista" MaxLength="75"
                                                   Style="width: 95%" Placeholder="Transportista" />}
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "TractorTipo" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenDropDown Name="TractorTipo" Data=TractoresTipos @bind-Value=@datos.TractorTipo
                                            ValueProperty="Key" TextProperty="Value"
                                            Style="width: 100%;" AllowClear="true" />
                                    
                                }
                            </div>

                        </div>

                        <div class="row" style="background:Turquoise">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "SelloRemovido" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Sello Removido</h6>
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "SelloColocado" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Sello Colocado</h6>}
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Obs" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Libre</h6>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "SelloRemovido" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="SelloRemovido" @bind-Value="datos.SelloRemovido" MaxLength="75"
                                                   Style="width: 95%" Placeholder="Sello removido" />
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "SelloColocado" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="SelloColocado" @bind-Value="datos.SelloColocado" MaxLength="75"
                                                   Style="width: 95%" Placeholder="Sello colocado" />
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Obs" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                }
                            </div>  
                        </div>

                        <div class="row" style="background:Turquoise">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Chofer" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Nombre del Chofer</h6>
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Identificacion" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Identificacion</h6>
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Cuadrilla" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Cuadrilla</h6>
                                }
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Chofer" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="Chofer" @bind-Value="datos.Chofer" MaxLength="75"
                                                   Style="width: 95%" Placeholder="Nombre del Chofer" />
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Identificacion" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="Identificacion" @bind-Value="datos.Identificacion" MaxLength="50"
                                                   Style="width: 95%" Placeholder="Identificacion INE" />
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Cuadrilla" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextBox Name="Cuadrilla" @bind-Value="datos.Cuadrilla" MaxLength="75"
                                                   Style="width: 95%" Placeholder="Cuadrilla" />
                                }
                            </div>

                        </div>

                        <div class="row" style="background:Turquoise">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Maniobra" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Tipo de Maniobra</h6>}
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Obs" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Comentarios</h6>}
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Obs" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <h6>Libre</h6>
                                }
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Maniobra" && x.SiNo == false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenDropDown Name="Maniobra" Data=ManiobrasTipos @bind-Value=@datos.Maniobra
                                                    ValueProperty="Key" TextProperty="Value"
                                                    Style="width: 100%" AllowClear="true" />
                                    
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Obs" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenTextArea Name="Obs" @bind-Value="datos.Obs"
                                                    Style="width: 95%" Placeholder="Observaciones" />
                                }
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                @if (Mostrar.Any(x => x.Titulo == "Obs" && x.SiNo== false))
                                {
                                    <label></label>
                                }
                                else
                                {
                                    <RadzenLabel>Libre</RadzenLabel>}
                            </div>
                        </div>
                    </div>



                </EditTemplate>
            </RadzenDataGridColumn>


            <RadzenDataGridColumn TItem="Z209_Campos" Context="sampleBlazorModelsSampleOrder"
                                  Filterable="false" Sortable="false" TextAlign="TextAlign.Center"
                                  Width="250px" Title="Estado">
                <Template Context="datos">
                    @if (ElUser.Nivel > 5 || (datos.Estado < 2 && ElFolio.Estado < 2))
                        {
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Secondary"
                                      Class="m-1" Click="@((args) => EditRow(datos))" Visible="@(!Editando)" />
                        }
                    @if (datos.Status)
                        {
                        <RadzenLabel>Activo</RadzenLabel>
                        }
                        else
                        {
                        <RadzenLabel>Suspendido</RadzenLabel>
                        }


                </Template>

                <EditTemplate Context="datos">

                    @if (datos.Estado > 0 && ElUser.Nivel > 4 && ElFolio.Estado < 2)
                        {
                        <RadzenLabel>
                            Borrar este registro
                        </RadzenLabel><br />
                        <RadzenSelectBar @bind-Value=@datos.Status TValue="bool"
                                         Placeholder="Borrar este registro?">
                            <Items>
                                <RadzenSelectBarItem Text="No" Value="true" />
                                <RadzenSelectBarItem Text="Si" Value="false" />
                            </Items>
                        </RadzenSelectBar><br />
                        }

                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success"
                                  Class="m-1" Click="@((args) => SaveRow(datos))" />

                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Danger" Class="m-1"
                                  Click="@((args) => CancelEdit(datos))" />
                </EditTemplate>

            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}
else
{
    <div class="spinner">

    </div>
}

@code {


    void Cancelar()
    {
        //OrgNew = new();
        CamposToInsert = new();
    }

    Z209_Campos CamposToInsert = new();

    async Task EditRow(Z209_Campos campo)
    {

        await CamposGrid!.EditRow(campo);
        Editando = !Editando;
    }

    string PoblarTxt(Z209_Campos c)
    {
        string resp = "";

        resp += $"{ElFolio.FolioNum}, fecha: {ElFolio.Fecha}, ";
        resp += string.IsNullOrEmpty(c.AgenteAduanal) ? "" : $"Agente aduanal {c.AgenteAduanal}, ";
        resp += string.IsNullOrEmpty(c.Pedimento) ? "" : $"Pedimiento {c.Pedimento}, ";
        resp += string.IsNullOrEmpty(c.Factura) ? "" : $"Num Factrua: {c.Factura}, ";
        resp += string.IsNullOrEmpty(c.Mercancia) ? "" : $"Mercancia: {c.Mercancia}, ";
        resp += string.IsNullOrEmpty(c.Tractor) ? "" : $"Num de Tractor: {c.Tractor}, ";
        resp += string.IsNullOrEmpty(c.Caja1) ? "" : $"Caja 1: {c.Caja1}, ";
        resp += string.IsNullOrEmpty(c.Caja2) ? "" : $"Caja 2: {c.Caja2}, ";
        resp += string.IsNullOrEmpty(c.Placas) ? "" : $"Placas: {c.Placas}, ";
        resp += string.IsNullOrEmpty(c.TractorTipo) ? "" : $"Tipo de tractor: {c.TractorTipo}, ";
        resp += string.IsNullOrEmpty(c.Transportista) ? "" : $"Transportista: {c.Transportista}, ";
        resp += string.IsNullOrEmpty(c.Maniobra) ? "" : $"Maniobra: {c.Maniobra}, ";
        resp += string.IsNullOrEmpty(c.Despachador) ? "" : $"Despachador: {c.Despachador}, ";
        resp += string.IsNullOrEmpty(c.CartaPorte) ? "" : $"Carta porte: {c.CartaPorte}, ";
        resp += string.IsNullOrEmpty(c.SelloRemovido) ? "" : $"Sello removido: {c.SelloRemovido}";
        resp += string.IsNullOrEmpty(c.SelloColocado) ? "" : $"Sello Colocado: {c.SelloColocado}";
        resp += string.IsNullOrEmpty(c.Chofer) ? "" : $"Nombre del chofer: {c.Chofer}, ";
        resp += string.IsNullOrEmpty(c.Cuadrilla) ? "" : $"Cuadrilla: {c.Cuadrilla}";
        resp += string.IsNullOrEmpty(c.Obs) ? "" : $"Comentarios: {c.Obs}";


        return resp;
    }

    async void OnUpdateRow(Z209_Campos campo)
    {
        try
        {
            if (campo == CamposToInsert) CamposToInsert = null!;


            Editando = !Editando;
            ApiRespuesta<Z209_Campos> resultado = await Servicio(ServiciosTipos.Update, campo);

            string txt = PoblarTxt(campo);

            if (resultado.Exito)
            {
                ShowNotification(ElMsn("info", "Actualizo",
                    $"Se actualizo la info de Folio {ElFolio.FolioNum} ", 0));
                txt = $"Se actualizo la informacion " + txt;
                Z190_Bitacora bitaTemp = MyFunc.MakeBitacora(ElUser.UserId, ElUser.OrgId, txt,
                    Corporativo, ElUser.OrgId);
                await BitacoraAll(bitaTemp);
            }
            else
            {
                string etxt = $"Error No Se actualizo la info de ";
                foreach (var e in resultado.MsnError)
                { etxt += $", {e}"; }

                ShowNotification(ElMsn("Error", "Error", etxt, 0));
                txt = $"Error, No se actualizo un registro de Transportista {txt} {etxt}";

                Z192_Logs logTemp = MyFunc.MakeLog(ElUser.UserId, ElUser.OrgId, txt,
                    Corporativo, ElUser.OrgId);
                await LogAll(logTemp);
            }
        }
        catch (Exception ex)
        {
            Z192_Logs logTemp = MyFunc.MakeLog(ElUser.UserId, ElUser.OrgId,
                    $"Error, No fue posible actualizar la info de Transportista, {TBita}, {ex}",
                    Corporativo, ElUser.OrgId);
            await LogAll(logTemp);
        }

    }

    async Task SaveRow(Z209_Campos campo)
    {
        await CamposGrid!.UpdateRow(campo);
    }

    void CancelEdit(Z209_Campos campo)
    {
        if (campo == CamposToInsert) CamposToInsert = null!;

        Editando = !Editando;
        CamposGrid!.CancelEditRow(campo);
    }

    async Task InsertRow()
    {
        CamposToInsert = new Z209_Campos();
        CamposToInsert.FolioId = ElFolio.FolioId;
        CamposToInsert.Estado = 0;
        Editando = !Editando;
        await CamposGrid!.InsertRow(CamposToInsert);

    }
    async void OnCreateRow(Z209_Campos campo)
    {
        try
        {
            if (campo == CamposToInsert) CamposToInsert = null!;

            Editando = !Editando;
            ApiRespuesta<Z209_Campos> resultado = await Servicio(ServiciosTipos.Insert, campo);

            string txt = PoblarTxt(campo);

            if (resultado.Exito)
            {
                ShowNotification(ElMsn("Exito", "Nuevo registro del FOLIO",
                    $"Se creo un nuevo registro con informacion para FOLIO {ElFolio.FolioNum} ", 0));
                txt = $"Se creo nuevo registro de informacion del FOLIO " + txt;
                Z190_Bitacora bitaTemp = MyFunc.MakeBitacora(ElUser.UserId, ElUser.OrgId, txt,
                    Corporativo, ElUser.OrgId);
                await BitacoraAll(bitaTemp);
            }
            else
            {
                string etxt = $"Error NO se creo el nuevo registro de FOLIO ";
                foreach (var e in resultado.MsnError)
                { etxt += $", {e}"; }

                ShowNotification(ElMsn("Error", "Error", etxt, 0));
                txt = $"{TBita}, Error, No se creo un nuevo registro de FOLIO " + txt + ", ";
                txt += etxt;
                Z192_Logs logTemp = MyFunc.MakeLog(ElUser.UserId, ElUser.OrgId, txt,
                    Corporativo, ElUser.OrgId);
                await LogAll(logTemp);
                await CamposGrid!.Reload();
            }

        }
        catch (Exception ex)
        {
            Z192_Logs logTemp = MyFunc.MakeLog(ElUser.UserId, ElUser.OrgId,
                    $"Error, No fue posible crear el registro de FOLIO , {TBita}, {ex}",
                    Corporativo, ElUser.OrgId);
            await LogAll(logTemp);
        }

    }

    public void ShowNotification(NotificationMessage message)
    {
        NS.Notify(message);
    }
    /*
    @if(Mostrar.Any(x=>x.Titulo == datos.Pedimento" && x.SiNo== false))
                                    {
                                        <label></label>
                                    }
                                    else
                                    {

                                    }
    */
}



