
@inherits EmpresaActivaBase
@inject NotificationService NS
@using DashBoard.Modelos



@if (LasEmpHist != null && !Leyendo)
{
    <RadzenDataGrid @ref="EmpActGrid"
                    AllowFiltering="true" AllowPaging="true" PageSize="50"
                    AllowSorting="true" AllowColumnResize="true"
                    ExpandMode="DataGridExpandMode.Single" AllowGrouping="false"
                    EditMode="DataGridEditMode.Single" AllowColumnPicking="true"
                    Data="@LasEmpHist" TItem="Z180_EmpActiva"
                    RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" EmptyText="No hay registros">

        <HeaderTemplate>
            @if(ElUser.Nivel > 5)
            {
                <RadzenButton Icon="plus" style="margin-bottom: 10px"
                            ButtonStyle="ButtonStyle.Info" Click="InsertRow">
                    Cambio de Empresa
                </RadzenButton>
            }
            <RadzenButton Icon="refresh" style="margin-bottom: 10px"
                          ButtonStyle="ButtonStyle.Success" Click="LeerHistEmps">
                Actualizar
            </RadzenButton>
        </HeaderTemplate>

        <Columns>


            <RadzenDataGridColumn TItem="Z180_EmpActiva" Title="Fecha" Filterable="false"
                                  Width="160px">
                <Template Context="datos">
                    <RadzenLabel>
                        @($"{@MyFunc.FormatoFecha("DD/MMM/AA", datos.Fecha)}")
                    </RadzenLabel>
                    <RadzenLabel>
                        @($"{@MyFunc.LaHora(datos.Fecha, "S")}")
                    </RadzenLabel>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenLabel>@($"{@MyFunc.FormatoFecha("DD/MMM/AA", DateTime.Now)}")</RadzenLabel>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="Z180_EmpActiva" Title="Empleado" Filterable="false"
                                  Width="200px">
                <Template Context="datos">
                    <RadzenLabel>
                        @if (LosUsers.Any(x=>x.UserId == datos.UserId))
                        {
                            <RadzenLabel>
                                @LosUsers.FirstOrDefault(x=>x.UserId == datos.UserId)!.Completo
                            </RadzenLabel>
                        }
                        else
                        {
                            <RadzenLabel>No hay nombre</RadzenLabel>
                        }
                    </RadzenLabel>
                    
                </Template>
                <EditTemplate Context="datos">
                   
                        <RadzenDropDown Name="UserId" Data=LosEmpleados @bind-Value=@datos.UserId
                                        ValueProperty="UserId" TextProperty="Completo" AllowClear="false"
                                        Style="width: 100%;" Change="YaCambio" />
                   
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="Z180_EmpActiva" Title="Empresa"
                                  Filterable="false" Width="250px">
                <Template Context="datos">
                    @if (LasOrgs.Any(x => x.OrgId == datos.OrgId))
                    {
                        <RadzenLabel>
                            @LasOrgs.FirstOrDefault(x => x.OrgId == datos.OrgId)!.ComercialRfc
                        </RadzenLabel>

                    }
                    else
                    {
                        <RadzenLabel>No hay empresa registrada</RadzenLabel>
                    }
                </Template>
                <EditTemplate Context="datos">
                    <RadzenDropDown Name="OrgId" Data=LasAlijadoras @bind-Value=@datos.OrgId
                                    ValueProperty="OrgId" TextProperty="ComercialRfc" AllowClear="false"
                                    Style="width: 100%;" Change="YaCambio" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="Z180_EmpActiva" Context="sampleBlazorModelsSampleOrder"
                                  Filterable="false" Sortable="false" TextAlign="TextAlign.Center"
                                  Width="250px" Title="Estado">
                <Template Context="datos">
                    <RadzenLabel>Confirmado</RadzenLabel>
                </Template>

                <EditTemplate Context="datos">

                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Disabled="!cambio"
                                  Class="m-1" Click="@((args) => SaveRow(datos))" />

                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Danger" Class="m-1"
                                  Click="@((args) => CancelEdit(datos))" />
                </EditTemplate>

            </RadzenDataGridColumn>



        </Columns>
    </RadzenDataGrid>
}
else
{
    <div class="spinner">
        
    </div>
}

@code {

    bool cambio = false;

    void YaCambio()
    {
        cambio = true;
    }

    void Cancelar()
    {
        //OrgNew = new();
        cambio = false;
        empActToInsert = new();
    }

    Z180_EmpActiva empActToInsert = new();


    async Task EditRow(Z180_EmpActiva empAct)
    {

        await EmpActGrid!.EditRow(empAct);
        Editando = !Editando;
    }

    async void OnUpdateRow(Z180_EmpActiva empAct)
    {
        try
        {
            // No hay servicio de actualizacion
        }
        catch (Exception ex)
        {
            Z192_Logs logTemp = MyFunc.MakeLog(ElUser.UserId, ElUser.OrgId,
                    $"Error, No fue posible actualizar una organizacion, {TBita}, {ex}",
                    Corporativo, ElUser.OrgId);
            await LogAll(logTemp);
        }

    }

    async Task SaveRow(Z180_EmpActiva empAct)
    {
        await EmpActGrid!.UpdateRow(empAct);
    }

    void CancelEdit(Z180_EmpActiva empAct)
    {
        if (empAct == empActToInsert) empActToInsert = null!;
        Editando = !Editando;
        EmpActGrid!.CancelEditRow(empAct);
    }

    async Task InsertRow()
    {
        empActToInsert = new Z180_EmpActiva();
        Editando = !Editando;
        cambio = false;
        await EmpActGrid!.InsertRow(empActToInsert);
    }

    async void OnCreateRow(Z180_EmpActiva empAct)
    {
        try
        {
            if (empAct == empActToInsert) empActToInsert = null!;

            Editando = !Editando;
            ApiRespuesta<Z180_EmpActiva> resultado = await Servicio("Insert", empAct);

            string txtEmp = LasAlijadoras.FirstOrDefault(x => x.OrgId == empAct.OrgId)!.ComercialRfc;
            string txt = $"Se registro cambio de empresa activa {ElUser.Completo} {txtEmp}";
            txt += $"fecha: {empAct.Fecha}";
            if (resultado.Exito)
            {
                ShowNotification(ElMsn("Exito", "Nuevo Folio", txt, 0));

                Z190_Bitacora bitaTemp = MyFunc.MakeBitacora(ElUser.UserId, ElUser.OrgId, $"{txt} ,{TBita}",
                    Corporativo, ElUser.OrgId);
                await BitacoraAll(bitaTemp);
                await ReadEmpresaActivaAll.InvokeAsync();
            }
            else
            {
                string etxt = $"Error NO se registro el cambio de empresa activa {ElUser.Completo} {txtEmp}";
                foreach (var e in resultado.MsnError)
                { etxt += $", {e}"; }

                ShowNotification(ElMsn("Error", "Error", etxt, 0));
                txt = $"{TBita}, No se registro el cambio de empresa " + txt + ", ";
                txt += etxt;
                Z192_Logs logTemp = MyFunc.MakeLog(ElUser.UserId, ElUser.OrgId, txt,
                    Corporativo, ElUser.OrgId);
                await LogAll(logTemp);
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Z192_Logs logTemp = MyFunc.MakeLog(ElUser.UserId, ElUser.OrgId,
                    $"Error, No fue posible actualizar la empresa activa, {TBita}, {ex}",
                    Corporativo, ElUser.OrgId);
            await LogAll(logTemp);
        }

    }

    public void ShowNotification(NotificationMessage message)
    {
        NS.Notify(message);
    }

}

