
@inherits RequeridosListBase
@inject NotificationService NS
@using DashBoard.Modelos



@if (LosDatos != null && !Leyendo)
{
    <RadzenDataGrid @ref="CamposGrid"
                    AllowFiltering="true" AllowPaging="true" PageSize="50"
                    AllowSorting="true" AllowColumnResize="true"
                    ExpandMode="DataGridExpandMode.Single" AllowGrouping="false"
                    EditMode="DataGridEditMode.Single" AllowColumnPicking="true"
                    Data="@LosDatos" TItem="ZConfig"
                    RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" EmptyText="No hay registros">

        <HeaderTemplate>
            @if (ElUser.Nivel > 4 && EmpresaActiva.OrgId.Length > 30)
            {
                <RadzenButton Icon="plus" style="margin-bottom: 10px"
                              ButtonStyle="ButtonStyle.Info" Click="InsertRow">
                    Nuevo campo
                </RadzenButton>
            }
            else if (EmpresaActiva.OrgId.Length < 30)
            {
                <RadzenLabel>Es necesario que seleciones una empresa activa en Informacion>Empresa Activa</RadzenLabel>
            }
            <RadzenButton Icon="refresh" style="margin-bottom: 10px"
                          ButtonStyle="ButtonStyle.Success" Click="LeerLosConf">
                Actualizar
            </RadzenButton>

        </HeaderTemplate>

        <Columns>

            <RadzenDataGridColumn TItem="ZConfig" Title="Empresa"
                                  Filterable="false" Width="200px">
                <Template Context="datos">
                    
                        
                        @if(datos.Usuario.Length > 30 && LasOrgs.Any(x=>x.OrgId == datos.Usuario))
                        {
                            <RadzenLabel>
                                @LasOrgs.FirstOrDefault(x=>x.OrgId == datos.Usuario)!.Comercial
                            </RadzenLabel>
                        }
                        else
                        {
                            <RadzenLabel>
                                No hay empresa
                            </RadzenLabel>
                        }
                        
                    
                </Template>
                <EditTemplate Context="datos">
                    <div style="text-align: right;">
                        <RadzenLabel>
                            <RadzenDropDown Name="Usuario" Data=LasAdmins @bind-Value=@datos.Usuario
                                            ValueProperty="OrgId" TextProperty="Comercial" AllowClear="false"
                                            Style="width: 100%;" />
                        </RadzenLabel>
                    </div>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="ZConfig" Title="Campo" Property="Titulo"
                                  Filterable="true" Width="200px">
                <Template Context="datos">
                    <div style="text-align: right;">
                        <RadzenLabel>
                            @datos.Titulo
                        </RadzenLabel>
                    </div>
                </Template>
                <EditTemplate Context="datos">
                    
                        <RadzenLabel>
                            <RadzenDropDown Name="Titulo" Data=LosCampos @bind-Value=@datos.Titulo
                                            ValueProperty="Titulo" TextProperty="Titulo" AllowClear="false"
                                            Style="width: 100%;" />
                        </RadzenLabel>
                    
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="ZConfig" Title="Mostrar" Property="SiNo"
                                  Filterable="true" Resizable="true" Width="200px">

                <Template Context="datos">
                    <RadzenLabel style="white-space:pre-wrap; line-height: initial">
                        @if (datos.SiNo)
                        {
                            <RadzenLabel>Mostrar</RadzenLabel>
                        }
                        else
                        {
                            <RadzenLabel>Ocultar</RadzenLabel>
                        }

                    </RadzenLabel>
                </Template>

                <EditTemplate Context="datos">
                    <RadzenSelectBar @bind-Value=@datos.SiNo TValue="bool">
                        <Items>
                            <RadzenSelectBarItem Text="Mostrar" Value="true" />
                            <RadzenSelectBarItem Text="Ocultar" Value="false" />
                        </Items>
                    </RadzenSelectBar>
                </EditTemplate>
            </RadzenDataGridColumn>


            <RadzenDataGridColumn TItem="ZConfig" Context="sampleBlazorModelsSampleOrder"
                                  Filterable="false" Sortable="false" TextAlign="TextAlign.Center"
                                  Width="200px" Title="Estado">
                <Template Context="datos">
                    @if (ElUser.Nivel > 5 || datos.Estado < 2)

                    {
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Secondary"
                                      Class="m-1" Click="@((args) => EditRow(datos))" Visible="@(!Editando)" />

                    }
                    @if (datos.Status)
                    {
                        <b>Activo</b>
                    }
                    else
                    {
                        <b>Suspendido</b>
                    }


                </Template>

                <EditTemplate Context="datos">

                    @if (datos.Estado > 0 && datos.Estado < 2 && ElUser.Nivel > 4)
                    {
                        <RadzenLabel>
                            Borrar este registro?
                        </RadzenLabel><br />
                        <RadzenSelectBar @bind-Value=@datos.Status TValue="bool"
                                         Placeholder="Borrar este registro?">
                            <Items>
                                <RadzenSelectBarItem Text="No" Value="true" />
                                <RadzenSelectBarItem Text="Si" Value="false" />
                            </Items>
                        </RadzenSelectBar><br />

                    }

                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success"
                                  Class="m-1" Click="@((args) => SaveRow(datos))" />


                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Danger" Class="m-1"
                                  Click="@((args) => CancelEdit(datos))" />
                </EditTemplate>

            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}
else
{
    <div class="spinner">

    </div>
}

@code {


    void Cancelar()
    {
        //OrgNew = new();
        CamposToInsert = new();
    }


    ZConfig CamposToInsert = new();


    async Task EditRow(ZConfig conf)
    {
        await CamposGrid!.EditRow(conf);
        Editando = !Editando;
    }

    async void OnUpdateRow(ZConfig conf)
    {
        try
        {
            if (conf == CamposToInsert) CamposToInsert = null!;

            Editando = !Editando;
            ApiRespuesta<ZConfig> resultado = await Servicio(ServiciosTipos.Update, conf);

            string txt = $"Grupo: {conf.Grupo} Tipo: {conf.Tipo}, Campo: {conf.Titulo}, ";
            txt += $"Fecha: {conf.Fecha1}, Requerido: {conf.SiNo}";
            txt += conf.Status ? "Estatus: Activo" : "Estatus: Suspendido";
            if (resultado.Exito)
            {
                ShowNotification(ElMsn("info", "Actualizo",
                    $"Se actualizo la info de campo {conf.Titulo}", 0));
                txt = $"{TBita}, Se actualizo la info de campo requerido ";
                Z190_Bitacora bitaTemp = MyFunc.MakeBitacora(ElUser.UserId, ElUser.OrgId, txt,
                    Corporativo, ElUser.OrgId);
                await BitacoraAll(bitaTemp);
            }
            else
            {
                string etxt = $"Error No Se actualizo la info del CAMPO de {conf.Titulo}";
                foreach (var e in resultado.MsnError)
                { etxt += $", {e}"; }

                ShowNotification(ElMsn("Error", "Error", etxt, 4000));
                txt = $"{TBita}, No se actualizo un registro de CAMPO" + txt + ", ";
                txt += etxt;
                Z192_Logs logTemp = MyFunc.MakeLog(ElUser.UserId, ElUser.OrgId, txt,
                    Corporativo, ElUser.OrgId);
                await LogAll(logTemp);
                await CamposGrid!.Reload();
            }
        }
        catch (Exception ex)
        {
            Z192_Logs logTemp = MyFunc.MakeLog(ElUser.UserId, ElUser.OrgId,
                    $"Error, No fue posible actualizar el CAMPO, {TBita}, {ex}",
                    Corporativo, ElUser.OrgId);
            await LogAll(logTemp);
        }
    }

    async Task SaveRow(ZConfig conf)
    {
        await CamposGrid!.UpdateRow(conf);
    }

    void CancelEdit(ZConfig conf)
    {
        if (conf == CamposToInsert) CamposToInsert = null!;

        Editando = !Editando;
        CamposGrid!.CancelEditRow(conf);
    }

    async Task InsertRow()
    {

        CamposToInsert = new ZConfig();
        CamposToInsert.Estado = 0;
        CamposToInsert.Fecha1 = DateTime.Now;
        CamposToInsert.Grupo = "CAMPOS";
        CamposToInsert.Tipo = "MOSTRADOS";
        CamposToInsert.SiNo = false;
        Editando = !Editando;
        await CamposGrid!.InsertRow(CamposToInsert);
    }

    async void OnCreateRow(ZConfig conf)
    {
        try
        {
            ApiRespuesta<ZConfig> existe = await ExisteRegistro(CamposToInsert);
            if (existe.Exito)
            {
                CamposToInsert.ConfigId = existe.Data.ConfigId;
                CamposToInsert.Grupo = existe.Data.Grupo;
                CamposToInsert.Tipo = existe.Data.Tipo;
                CamposToInsert.Usuario = existe.Data.Usuario;
                CamposToInsert.Titulo = existe.Data.Titulo;
                CamposToInsert.SiNo = existe.Data.SiNo;
                CamposToInsert.Fecha1 = DateTime.Now;
                await Servicio(ServiciosTipos.Update, CamposToInsert);
                if (conf == CamposToInsert) CamposToInsert = null!;
                await CamposGrid!.Reload();
                return;
            }
            if (conf == CamposToInsert) CamposToInsert = null!;

            Editando = !Editando;
            ApiRespuesta<ZConfig> resultado = await Servicio(ServiciosTipos.Insert, conf);

            string txt = $"Grupo: {conf.Grupo} Tipo: {conf.Tipo}, Campo: {conf.Titulo}, ";
            txt += $"Fecha: {conf.Fecha1}, Requerido: {conf.SiNo}";
            txt += conf.Status ? "Estatus: Activo" : "Estatus: Suspendido";

            if (resultado.Exito)
            {
                ShowNotification(ElMsn("Exito", "Nuevo requerimiento de campo",
                    $"Se creo un nuevo registro de campo requerido {conf.Titulo}", 0));

                Z190_Bitacora bitaTemp = MyFunc.MakeBitacora(ElUser.UserId, ElUser.OrgId, $"{TBita}, {txt}",
                    Corporativo, ElUser.OrgId);
                await BitacoraAll(bitaTemp);
            }
            else
            {
                string etxt = $"Error NO se creo el nuevo registro de campo requerido {conf.Titulo}    ";
                foreach (var e in resultado.MsnError)
                { etxt += $", {e}"; }

                ShowNotification(ElMsn("Error", "Error", etxt, 0));
                txt = $"{TBita}, No se creo un nuevo requerimiento de CAMPO " + txt + ", ";
                txt += etxt;
                Z192_Logs logTemp = MyFunc.MakeLog(ElUser.UserId, ElUser.OrgId, txt,
                    Corporativo, ElUser.OrgId);
                await LogAll(logTemp);

                await CamposGrid!.Reload();

            }

        }
        catch (Exception ex)
        {
            Z192_Logs logTemp = MyFunc.MakeLog(ElUser.UserId, ElUser.OrgId,
                    $"Error, No fue posible crear registro de un campo, {TBita}, {ex}",
                    Corporativo, ElUser.OrgId);
            await LogAll(logTemp);
        }

    }

    public void ShowNotification(NotificationMessage message)
    {
        NS.Notify(message);
    }

}

